---
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/autoplay";
import "swiper/css/effect-fade";

import { getNews } from "@/utils/news.js";

const newsResponse = await fetch(`http://localhost:1234/leagues/1/stats`);
const newsData = await newsResponse.json();

const currentLang = Astro.currentLocale || "es";

const news = getNews(newsData, currentLang);

interface News {
  id: number;
  title: string;
  news: string;
  type: string;
}
---

<section
  class="flex flex-col items-center justify-center content-center h-full w-full"
>
  <div class="swiper-container w-full max-w-[18rem] sm:max-w-[640px] h-full">
    <div class="swiper-wrapper">
      {
        news.map((newItem: News) => (
          <div class="swiper-slide flex flex-col items-center gap-4">
            <img
              src={`/images/news/${newItem.id}/${newItem.id}_${newItem.type}.webp`}
              alt={newItem.title}
              class="rounded-xl w-full max-h-[480px] object-cover aspect-video"
            />
            <p class="font-la-liga-font text-3xl text-center py-4">
              {newItem.title}
            </p>
            <p class="text-wrap whitespace-break-spaces">{newItem.news}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>

<script>
  import Swiper from "swiper";
  import { Navigation, Autoplay, EffectFade } from "swiper/modules";
  document.addEventListener("astro:page-load", () => {
    new Swiper(".swiper-container", {
      modules: [Navigation, Autoplay, EffectFade],
      navigation: false,
      autoplay: {
        delay: 10000,
        disableOnInteraction: false,
      },
      loop: true,
      slidesPerView: 1,
      effect: "fade",
      fadeEffect: {
        crossFade: true,
      },
    });
  });
</script>
