---
import { translator } from "@/utils/dictionary.js";
import { getRelativeLocaleUrl } from "astro:i18n";
import "@/styles/global.css";

const { matchdayResultsData, teamResults } = Astro.props;

const currentLang = Astro.currentLocale || "es";
---

<div>
  <table class="w-full text-center flex flex-col gap-4 justify-center">
    {
      matchdayResultsData.map((result: any) => (
        <tr class={`${teamResults === true ? "block" : "hidden"} border-b-[1px] border-mainblack my-4`}>
          <td class="uppercase font-la-liga-font text-2xl">{`${translator(currentLang,"matchday")} ${result.matchday_id}`}</td>
        </tr>
        <tr class="font-la-liga-font text-sm md:text-xl gap-2 md:gap-10 flex justify-between items-center">
          <td class="w-[5.5rem] md:w-[8rem] flex flex-col sm:flex-row sm:gap-2 text-lg sm:text-xl justify-end text-center">
            <p>
              {`${result.matchdate.toString().split("T")[0].split("-")[2]}/${result.matchdate.toString().split("T")[0].split("-")[1]}/${result.matchdate.toString().split("T")[0].split("-")[0]}`}
            </p>
            <p>{result.matchdate.toString().split("T")[1].slice(0, 5)}</p>
          </td>
          <td class="lg:w-60">
            <a
              href={getRelativeLocaleUrl(
                currentLang,
                `/teams/${result.localTeamId}`
              )}
              class="flex-row flex items-center justify-self-end hover:scale-105 hover:text-laligared transition"
            >
              <img src={result.localTeamBadge} class="h-10" />
              <p class="text-xl hidden lg:block">{result.localTeamName}</p>
            </a>
          </td>
          <td class="font-la-liga-font text-xl sm:text-2xl text-laligared">
            {result.localTeamGoals}-{result.awayTeamGoals}
          </td>
          <td class="lg:w-60">
            <a
              href={getRelativeLocaleUrl(
                currentLang,
                `/teams/${result.awayTeamId}`
              )}
              class="flex-row flex items-center justify-self-start hover:scale-105 hover:text-laligared transition"
            >
              <img src={result.awayTeamBadge} class="h-10" />
              <p class="hidden lg:block">{result.awayTeamName}</p>
            </a>
          </td>
          <td class="w-[4.5rem] md:w-[8rem] text-end">
            <a
              href={getRelativeLocaleUrl(
                currentLang,
                `/matches/${result.matchday_id}-${result.localTeamId}-${result.awayTeamId}`
              )}
            >
              <button class="p-2 rounded-lg hover:scale-105 text-sm transition match-button uppercase">
                {translator(currentLang, "viewMatch")}
              </button>
            </a>
          </td>
        </tr>
      ))
    }
  </table>
</div>
