---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
const teamResponse = await fetch("http://localhost:1234/teams");
const stadiumsRespone = await fetch("http://localhost:1234/stadiums");
const teamData = await teamResponse.json();
---

<head>
  <meta charset="UTF-8" />
  <title>LaLiga Teams</title>
</head>

<Layout>
  <Navbar />
  <section
    class="grid justify-items-center grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-4 p-3"
  >
    {
      teamData.map((team) => (
        <a
          href={`/teams/${team.id}`}
          class={`${team.mainColor === "#ffffff" ? "border-2 border-gray-200" : "border-0"} p-4 rounded-2xl w-80 h-72 hover:opacity-80 hover:scale-[0.98] transition inline-block`}
          style={`background-color: ${team.mainColor};`}
        >
          <img
            src={team.badge}
            alt={team.shortName}
            class="w-32 h-32 mx-auto"
          />
          <div
            class="font-la-liga-font text-center"
            style={`color: ${team.mainColor === "#ffffff" || team.mainColor === "#ffd301" ? "black" : "white"};`}
          >
            <h1 class="text-3xl uppercase">{team.shortName}</h1>
            <div class="flex flex-row justify-center items-end">
              <p class="text-lg mr-1">EST.</p>
              <p class="text-2xl">{team.year}</p>
            </div>
          </div>
        </a>
      ))
    }
  </section>
</Layout>
