---
import MatchStats from "@/components/MatchStats.astro";
import Layout from "@/layouts/Layout.astro";
import ResultsTable from "@/components/ResultsTable.astro";
import { translator } from "@/utils/dictionary.js";
import "@/styles/global.css";

const { matchIds } = Astro.params;

const [matchday_id, localTeam_id, awayTeam_id] = (matchIds as String).split(
  "-"
);

export async function getStaticPaths() {
  const matchesResponse = await fetch("http://localhost:1234/matches");
  const matchesData = await matchesResponse.json();

  const paths = matchesData.map((match: any) => {
    const matchIds = `${match.matchday_id}-${match.localTeam_id}-${match.awayTeam_id}`;

    return {
      params: {
        matchIds,
      },
    };
  });

  return paths;
}

const matchDetailsResponse = await fetch(
  `http://localhost:1234/matches/?matchday=${matchday_id}&localTeam=${localTeam_id}&awayTeam=${awayTeam_id}`
);
const matchDetailsData = await matchDetailsResponse.json();
const matchDetails = matchDetailsData[0];

const matchdayResultsResponse = await fetch(
  `http://localhost:1234/leagues/1/matchday/${matchday_id}`
);
const matchdayResultsData = await matchdayResultsResponse.json();

const currentLang = Astro.currentLocale || "es";
---

<Layout
  title=`Matchday ${matchday_id} | ${matchDetails.localTeam} vs ${matchDetails.awayTeam}`
  description=`View the stats of the match between ${matchDetails.localTeam} and ${matchDetails.awayTeam}`
>
  <MatchStats
    matchdate={matchDetails.matchdate}
    matchday={matchDetails.matchday_id}
    localTeam={matchDetails.localTeam_id}
    awayTeam={matchDetails.awayTeam_id}
  />
  <div>
    <h2 class="text-2xl text-bold uppercase text-center font-la-liga-font">
      {translator(currentLang, "matchdayResults")}
    </h2>
    <div class="xl:px-48 md:px-10 px-2 py-4">
      <ResultsTable matchdayResultsData={matchdayResultsData} />
    </div>
  </div>
</Layout>
